/*استایل کلی*/
body {
    font-family: "Tahoma", sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

/*استایل به هدر*/
header {
    background-color: #0d6efe;
    color: white;
    padding: 60px 0;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 12px;
}

/*استایل به درباره ما*/
#about {
    text-align: center;
    padding: 60px 0;
}

#about h3 {
    margin-bottom: 12px;
}

/*استایل به مهارت ها*/
#skills {
    padding: 60px 0;
}

#skills h3 {
    margin-bottom: 12px;
}

#skills span {
    display: inline-block;
    background-color: #0d6efe;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 6px;
}

/*استایل به نمونه کارها*/
#portfolio {
    text-align: center; 
    padding: 60px 0;    
    background-color: aliceblue;
}

#portfolio img {
    width: 100%;
    height: 100vh;
    border-radius: 8px;
}

/*استایل به تماس*/
#contact {
    direction: rtl;
    padding: 60px 0;
    max-width: 600px;
}

/*استایل به فوتر*/
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}